<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
  <meta charset="UTF-8"/>
  
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
   <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <meta http-equiv="refresh" content="5; url=/about">-->
  
  <title>home page</title>
  
  
  
  
</head>
<body>
	
<section class="banner d-flex justify-content-center align-items-center">

			<div class="text-center" >
    		<h1 class="font-weight-bold"> Smart Contact Manager </h1>
    		
    		<p>
				Start collecting your contacts in a very smart way. 
				we provide efficient and smart way of handling contacts.
			
			</p>
			
			<br>	<button type="submit" href="/user_dashboard" class="btn-bg-primary">Get Started</button>

			</div>
			

</section>



<!--<script src="script1.js"></script>-->


</body>

<!--
<script type="text/javascript">

	console.log("Setting up refresh timer");
	
	setTimeout(function(){
		
		console.log("Reloading page");
		
		location.replace('/about')
		
},3000);
	
	
</script>-->

</html>